*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landing{
    background: url("./mountain");
    background-size: cover;
    background-position:center ;
    height: 100vh;
}
.landing{
    text-align: center;
    font-size: 25px;
    color: black;
    padding-top: 20px;
    font-style:bold;
}
.landing p{
    text-align: center;
    font-size: 25px;
    color: blue;
    padding-top: 20px;
    font-style: italic;
}
button{
    padding: 10px 50px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    margin-left:20px;
}